@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Vollkorn:wght@900&display=swap");

:root {
    --color1: white;
    --color2: #a3f7bf;
    --color3: #f5f5f6;
    --color4: #bebebe;
    --color5: #435055;

    --bgColor1: #2e383d;
    --bgColor2: #435055;
    --bgColor3: lightgrey;
    --bgColor4: lightgrey;
    --bgColor5: lightgrey;
}

* {
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-size: 14px;
    background-color: var(--bgColor1);
    font-family: "Nunito", sans-serif;
    min-width: 355px;
    margin: 0;
    overflow-x: hidden;
}

.font1 {
    font-family: "Vollkorn", serif;
}

.color1 {
    color: var(--color2);
}

.color2 {
    color: var(--color5);
}

.color3 {
    color: var(--color4);
}

.color4 {
    color: var(--color1);
}

.bgColor1 {
    background-color: var(--bgColor1) !important;
}

.bgColor2 {
    background-color: var(--bgColor2) !important;
}

.bgColor3 {
    background-color: var(--bgColor3) !important;
}

.bgColor4 {
    background-color: var(--bgColor4) !important;
}

.bgColor5 {
    background-color: var(--bgColor5) !important;
}

.flexRow {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.margin {
    margin: 0.3rem;
}

.marginAuto {
    margin: auto;
}

.marginH {
    margin-left: 5px;
    margin-right: 5px;
}

.marginR {
    margin-right: 0.5rem;
}

.padding {
    padding: 0.3rem;
}

.paddingH {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.paddingV {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.alignCenter {
    align-items: center;
}

.spaceBtwn {
    justify-content: space-between;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.spaceCenter {
    justify-content: center;
}

.btn {
    font-size: 1rem;
    color: var(--color3);
    background-color: transparent;
    border-radius: 7px;
    border: 0.2px solid var(--color5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 12px;
    cursor: pointer;
}

#hr {
    border: 0.5px solid rgba(255, 255, 255, 0.117);
    border: none;
    width: 100%;
    height: 0.3px;
    background-color: rgba(255, 255, 255, 0.159);
}

.transparent {
    background-color: transparent;
    border: none;
    border-radius: none;
}

.noMargin {
    margin: 0;
}

#nav {
    margin: 1rem 0 0.5rem 0;
}

#navSymbol {
    display: inline-block;
    background-color: var(--color2);
    color: var(--bgColor1);
    width: 35px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.noteTitle {
    background-color: transparent;
    border: none;
    color: var(--color3);
    font-size: 38px;
    display: block;
}

#input1,
#input2,
#_heigthSizing,
#_heigthSizingText {
    height: 56px;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
}
#input2 {
    width: 100%;
}
#input2,
#_heigthSizingText {
    font-size: 18px;
    line-height: 35px;
}

#_heigthSizing,
#_heigthSizingText {
    padding: 0 25px;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: -200px;
    right: -200px;
}

.fixed {
    position: fixed !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem !important;
}

.bottom {
    bottom: 1.5rem;
}

#buttonsBox {
    min-width: 350;
}

@media only screen and (max-device-width: 760px) {
    .top {
        top: auto;
    }
}

#cardsWrapper {
    margin: 1rem 0;
}

#card {
    height: 200px;
    width: 100%;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
    background-color: #435055;
    margin-bottom: 1rem;
}
#cardColor {
    display: flex;
    width: 20px;
    height: 100%;
    background-color: aquamarine;
}

#cardContent {
    width: calc(100% - 20px);
    height: calc(100% - 1rem);
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    font-size: 16px;
}

#content {
    margin-left: 1.5rem;
    color: var(--color4);
    /* word-wrap: break-word; */
    overflow: hidden;
}

#cardTitle {
    color: aliceblue;
    font-family: "Vollkorn", serif;
    font-size: 24px;
    margin-top: 1rem;
}

#cardDescription {
    color: var(--color4);
    max-height: 68px;
    /* background-color: tan; */
    overflow: hidden;
}

#freshBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

#freshFooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 1rem 1.5rem !important;
}

